	* {
		text-align: center;
	}

	.challenged {
		position: absolute;
		left: 33.5%;
		top: 4%;
	}

	.challenger {
		position: absolute;
		top: 5%;
		left: 40%;
		display: none;
	}

	.timer {
		font-size: 4em;
		position: absolute;
		left: 30%;
		top: 10%;
		background-color: red;
		border: 10px solid black;
		width: 500px;
		height: 700px;
	}

	.timer input {
		padding: 30px;
		font-size: 1em;
	}

	#resetSwitch {
		background-color: orange;
		font-weight: bolder;
		border: red 2px solid;
	}

	.loser {
		position: absolute;
		top: 10%;
		left: 5%;
		background-color: green;
		border: 10px solid black;
		width: 200px;
	}

	#loserList li, #winnerList li{
		text-align: left;
	}

	.winner {
		position: absolute;
		top: 10%;
		right: 5%;
		background-color: yellow;
		border: 10px solid black;
		width: 200px;
	}

	/*CSS Limit LI method vs jQuery method $('#myList li:gt(2)').remove();*/
	#winnerList li:nth-of-type(1n+11) {
		display: none;
	}